#Home{
    background: white;
    color: #1871b6;     
}
#greeting{
    width: 80%;
    height: 75%;
    margin-top: 10%;
    margin-left: 10%; 
    background: #1871b6; 
    box-shadow: 1px 1px 10px black;
    border-radius: 0 115px 0 0;    
    z-index: 3;
   
}
#g_text{
    float:left;
    width: 35%;
    color: white;
    padding: 4%;
    margin-left: 4%;
    margin-top: 8%;
    font-family: gothicCentury, sans-serif; 
    font-size: 20px;          
    box-shadow: 1px 1px 5px black;
    
}
.greetingPic{       
    width: 25%;
    //border: 1px solid lightblue;
    margin-top: 8%;
    margin-left: 20%;  
    box-shadow: 1px 1px 5px black;
}

#g_links{        
    font-family: gothicCentury, sans-serif; 
    margin-top: 8%;    
    background-color: white;
    font-size: 19px;   
       
}
#greeting a{
    color: #1871b6;
    margin-left: 11%;
}